
body{
    background-color: #F6F4FF; /* Цвет фона веб-страницы */
}
.form-row{
    margin-top: 20px ;
    margin-bottom: 0px;
}


.e{
    width: 170px;
    height: 45px;
    font-size: 17px;
    color: white;
    margin: 0px 25px 25px 0px;

    background: #FFB233;
    border-radius: 4px;
    border-color: #FFB946;

}
.e:focus
.p:focus{
    background: #FFB946;
    border-radius: 4px;
    border-color: white;
}
.p{
    width: 170px;
    height: 45px;
    font-size: 17px;
    color: white;
    margin: 15px 25px 25px 0px;
    background: #FFB233;
    border-radius: 4px;
    border-color: #FFB946;


}
.admin{
    margin-top: 8px;
}



/* Style the links inside the navigation bar */
ul{
    padding-inline-start: 0px;
}
.m-b{
    margin-top: -17px;
}
.m-l{
   margin-left: 410px;
}
.top{
    margin: 15px 0px 0px 0px ;
    display: inline-flex;
}
.top a {

    float: left;
    color: #6A707E;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 17px;

}

.top a:hover {
    color: #6A5FD0;
}

.top a.active {
    border-bottom: 2px solid #6A5FD0;
    color: #6A5FD0;
    font-weight: 700;
}

/*формы в личном кабинете*/
.form-bg{
    background-color: #FFFFFF;
    box-shadow: 4px 10px 10px 2px #CACEE4;
    margin-bottom: 25px;

}
.form-bg-list{
    background-color: #FFFFFF;
    box-shadow: 4px 10px 10px 2px #CACEE4;
    margin-bottom: 25px;
    height: 450px;
}
.form-text{
    margin-top: 25px;
    padding: 50px 0px 50px 50px;
}

.form-text2{
    margin-top: 25px;
    padding: 25px 50px 25px 50px;
}

.text-input {
    position: relative;
}

.input-field:focus~.input-label,
.input-field:not(:focus):valid~.input-label {
    top: 9px;
    left: 11px;
    font-size: 14px;
    opacity: 1;
    color: #A6ACBE;

}

.input-field {
    width: 260px;
    height: 50px;
    border: 1px solid #A6ACBE;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
    padding: 9px;
    padding-top: 15px;
    margin: 10px 15px;


}

.input-label {
    position: absolute;
    left: 15px;
    top: 19px;
    transition: 0.2s ease all;
    pointer-events: none;
    opacity: 0.4;
    margin-left: 15px;
}

.butt{
    width: 260px;
    height: 51px;
    font-size: 17px;
    color: white;
    margin: 0px 25px 25px 0px;

    background: #6F52ED;
    border-radius: 4px;
    border-color: #6F52ED;
    padding: 0px;
}
.butt-ml{
    width: 260px;
    height: 51px;
    font-size: 17px;
    color: white;
    margin: 15px 25px 25px 15px;

    background: #6F52ED;
    border-radius: 4px;
    border-color: #6F52ED;

}

.butt-edit{
    width: 260px;
    height: 51px;
    font-size: 17px;
    color: white;
    margin: 0px;

    background: #6F52ED;
    border-radius: 4px;
    border-color: #6F52ED;
}
.butt-add{
    width: 260px;
    height: 51px;
    font-size: 17px;
    color: white;

    background: #6F52ED;
    border-radius: 4px;
    border-color: #6F52ED;

}
h3{
    margin-left: 25px;
    margin-bottom: 15px;
}

.event-field{
    width: 1100px;
    height: 215px;


    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(150, 156, 186, 0.15);
    border-radius: 7px;
    border-color: #FFFFFF;
}

.news-field{
    width: 1100px;
    height: 220px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(150, 156, 186, 0.15);
    border-radius: 7px;
    border-color: #FFFFFF;
}

.news-field-imp{
    width: 1100px;
    height: 220px;

    background: #DCD4FF;
    box-shadow: 0px 4px 15px rgba(150, 156, 186, 0.15);
    border-radius: 7px;
    border-color: #DCD4FF;
}
p .event-img{
    width: 250px;
    height: 190px;

    text-align: left;
    background: #C4C4C4;

    border-radius: 7px 0px 0px 7px;
    margin-right: -15px;
}
.add-frame{

    width: 960px;
    height: 425px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(150, 156, 186, 0.15);
    border-radius: 7px;
}

.pad{
    margin-left: 15px;
}
.input-form-add{
    width: 600px;
}
.frame-big{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(150, 156, 186, 0.15);
    border-radius: 7px;
    border-color: #FFFFFF;
}
.text-more {
    font-size: 15px;
}
.add-row{
margin-left: 430px;
margin-top: -85px;

}

.btn-info {
    color: #fff;
    background-color: #109CF1;
    border-color: #4CB8FF;
}

.btn-danger {
    color: #fff;
    background-color: #FF4C61;
    border-color: #FF4C61;
}

.m-t{
    margin-top: -105px;
}

a .main-menu:active{
    color: #6A5FD0;
    font-weight: 700;
}