<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nirsfill</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="parts/navbar :: navbar"></header>

<div class="container">
    <h1>Личный кабинет</h1>

    <ul>
        <div class="nav"><div class="top">
            <li class="nav-item">
                <a class="nav-link active" href="/account">Личные данные</a>
            </li>
            <li class="nav-item">
                <p>    <a class="nav-link" href="#passw">Смена пароля</a></p>
            </li>
            <li class="nav-item">
                <p>  <a class="nav-link" href="#for-admin">Настройки администратора</a></p>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link" th:href="'/user-actions'"> Мои мероприятия </a>
            </li>-->
        </div>

        </div>
    </ul>
    <hr class="m-b" size=3px width=1110px align="left" color="#A6ACBE">
    <div class="form-bg">
        <div class="form-text">
        <form method="post" th:action="'/user'">
            <h3>Личная информация</h3>
            <div th:insert="parts/user_account::user_account_open_data"></div><br>
            <p><a name="passw"></a></p>
            <h3>Смена пароля</h3>
            <div id="password_div" th:insert="parts/user_account::password_inputs4account"></div>


            <input class="form-control" type="hidden" th:value="${user.id}" name="userId">
            <input class="form-control" type="hidden" name="_csrf" value="${_csrf.token}"/>
            <button class="btn btn-primary btn-lg enable_btn_class butt-ml" type="submit" id="submit_button_id "> Сохранить данные</button><br><br>
        </form>
        </div>
    </div>
    <p><a name="for-admin"></a></p>
    <div class="form-bg">
        <div class="form-text">
        <div id="change_password_id"> </div>
    <!--<a th:href="'change-password/' + ${user.id}"> Изменить Пароль</a>-->
        <div sec:authorize="isAuthenticated()">
            <h3>Настройки администратора</h3>
            <div class="container">
                <div class="row">
            <!--при релизе вставить это-->
            <!--    <div class="container mt-5" sec:authorize="hasAuthority('ADMIN')">-->
            <a th:href="'/user'">
                <button class="btn btn-primary btn-lg butt-ml " type="submit"> Список пользователей</button>
            </a>


                </div></div>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript" th:src="@{/js/password_checker.js}"></script>
<script type="text/javascript">
    $(document).ready(check_passwords('password_div_id', 'old_password_id',
        'new_password_id', 'new_password2_id', 'empty_error_id', 'mismatched_pass_error_id',
        'submit_button_id', 'enable_btn_class', 'disable_btn_class'))
</script>
</body>
</html>