<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>



    <title>nirsfill</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"   >
</head>
<body >
<header th:insert="parts/summernote :: summernote"></header>

<header th:insert="parts/navbar :: navbar"></header>
<form th:action="'/action-add'" method="post">
    <div class="container">
        <div class="add-frame">
            <div class="form-text2">

                <div class="form-group">
                    <div class="my-4"> <h4> <strong> Добавление мероприятия</strong></h4> </div>
                        <input type="text" name="title" placeholder="Введите название мероприятия" class="form-control">
                </div>
                <div class="form-group">
                        <input type="text" name="anons" placeholder="Введите анонс мероприятия" class="form-control">
                </div>
                <div id="editor"></div>
                <div class="form-group">

                    <!--Вставка шаблона редактора-->
                    <div th:insert="parts/summernote::summernote_editor">
                    </div>

                    <div class="text-right">
                    <button type="submit" class="btn butt-add btn-primary btn-lg m-t" >Добавить мероприятие</button>
                    </div>
                <input type="hidden" name="_csrf" value="${_csrf.token}" />
            </div>
        </div>
        </div>
    </div>
</form>


</body>
</html>