<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nirsfill</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"   >

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body >
<header th:insert="parts/navbar :: navbar"></header>
<div class="container mt-5 mb-5">

    <div th:each="el : ${action}" class="alert alert-info mt-2 frame-big">
        <h1 th:text="${el.title}"></h1><br>
        <!--        <p th:text="${el.full_text}"></p><br>-->
        <div th:utext="${el.full_text}"></div>
       <strong> <div th:utext="'Количество участников: ' + ${el.vievs}"></div></strong><br><br>
        <div id="clear_data"></div>
        <span th:text="${el.create_date} ? 'Дата создания: ' + ${el.create_date} : '' "> </span>
        <span th:text="${el.update_date} ? 'Дата обновления: ' + ${el.update_date} : ''"> </span><br>
        Автор: <strong th:text="${el.author} ? ${el.author.getUsername()} : 'nooooooooo'"></strong>




        <div class="form-row">
            <!--<div sec:authorize="hasAuthority('ADMIN')"> Внутри этого div видно только админам   -->

            <form th:action="'/action/' + ${el.id} + '/reg'" method="post">
                <div th:if="${!chek}" class="form-group">
                    <button class="btn btn-info  mr-4" type="submit">Зарегистрироваться</button>
                </div>
                <div th:if="${chek}" class="form-group ">
                    <button class="btn btn-danger  mr-4" type="submit">Отменить регистрацию</button>
                </div>
            </form>

            <form th:action="'/action/' + ${el.id} + '/action-users'" method="post">
                <div class="form-group ">
                    <button class="btn btn-info mr-4" >Список участников</button>
                </div>

            </form>

            <div sec:authorize="hasAuthority('ADMIN')">
                <div class="form-group row m-l ">
                     <a th:href="'/action/' + ${el.id} + '/edit'" ><button class=" btn btn-primary mr-4" type="submit">Редактировать </button></a>

                    <form th:action="'/action/' + ${el.id} + '/remove'" method="post">
                        <button class="btn btn-danger mr-4" type="submit">Удалить</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>