<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body >
<header th:insert="parts/navbar :: navbar"></header>

<div class="container mt-5">
    <div class="form-bg-list">
        <div class="form-text2">
            <table class="table">
                <thead class="thead-light"><tr> <th>Имя</th> <th>почта</th> <th></th> </tr>  </thead>
                <tbody>

                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>

                </tr>


            </table>
        </div>
    </div>
</div>


</body>
</html>