<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nirsfill</title>



    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body >

<header th:insert="parts/summernote :: summernote"></header>
<header th:insert="parts/navbar :: navbar"></header>


<div th:each="el : ${action}" >
    <form th:action="'/action/' + ${el.id} + '/edit'" method="post">
        <div class="container">
            <div class="add-frame">
                <div class="form-text2">
                <div class="my-4"> <h4> <strong> Редактирование мероприятия </strong></h4></div>
                <div class="form-group">

                        <input type="text" th:value ="${el.title}" name="title" placeholder="" class="form-control"><br>


                        <input type="text"  th:value ="${el.anons}" name="anons"  placeholder="" class="form-control"><br>


                        <div id="editor"></div>

                    <div class="form-group row">
                        <!--Вставка шаблона редактора-->
                        <div th:insert="parts/summernote::summernote_editor"></div>
                        <div class="text-right"> <button type="submit" class="btn btn-primary butt-add m-l mt-3">Обновить меропритие</button></div>
                    </div>

                </div>
            </div>
        </div>
    </form>

</div>


</body>

</html>