<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <!-- Bootstrap CSS -->
    <header th:insert="parts/navbar :: navbar"></header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  crossorigin="anonymous">
</head>
<body>
<form th:action="@{/login}" method="post">
    <div class="container mt-5 mb-5 ">
        <div class="mx-auto" >
            <div class="form-group row justify-content-md-center">
                <div class="mt-4"> <h4> <strong>Вход в личный кабинет </strong> </h4> </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-lg-4">
                    <input type="text" name="username" class="form-control" placeholder="Ваше имя" />
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-lg-4">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" />
                </div>
            </div>

            <div class="form-group row justify-content-md-center">
                <div class="col-lg-4 mt-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <p > Уже есть аккаунт? <a href="/registration">Регистрация</a> </p>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>





