<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>



    <title>nirsfill</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet"   >
</head>
<body >
<header th:insert="parts/summernote :: summernote"></header>

<header th:insert="parts/navbar :: navbar"></header>
<form th:action="'/news-add'" method="post">
    <div class="container">
        <div class="add-frame">
            <div class="form-text">

                <div class="form-group">
                    <div class="mb-4">  <h3> <strong> Добавление статьи</strong></h3></div>
                    <div class="col">
                        <input type="text" name="title" placeholder="Введите название статьи" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                    <!--Вставка шаблона редактора-->
                    <div th:insert="parts/summernote::summernote_editor"></div>
                    </div>
                </div>
                <div class="col-lg-8">

                    <button type="submit" class="btn btn-success" >Добавить статью</button>
                </div>
                <input type="hidden" name="_csrf" value="${_csrf.token}" />
            </div>
        </div>
        </div>
    </div>
</form>

</body>
</html>