<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/parts/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
<header th:insert="parts/navbar :: navbar"></header>
<form th:action="'/registration'" method="post">
    <div id="error" th:text="${message} ? ${message}: ''"></div>
    <div class="container mt-5 mb-5 ">
        <div class="form-bg">
            <div class="form-text">
            <div class="form-group row justify-content-md-center">
                <div class="mt-4"><h4><strong>Регистрация </strong></h4></div>
            </div>
            <div>
<!--            <div class="form-group row justify-content-md-center">-->
<!--                <div class="col-lg-4">-->
<!--                    <input type="text" name="firstname" class="form-control" placeholder="Ваше имя"-->
<!--                           th:value="${user}?${user.firstname}:''"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row justify-content-md-center">-->
<!--                <div class="col-lg-4">-->
<!--                    <input type="text" name="lastname" class="form-control" placeholder="Ваша Фамилия"-->
<!--                           th:value="${user}?${user.lastname}:'' "/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row justify-content-md-center">-->
<!--                <div class="col-lg-4">-->
<!--                    <input type="text" name="patronymic" class="form-control" placeholder="Ваше Отчество"-->
<!--                           th:value="${user}?${user.patronymic}:''"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row justify-content-md-center">-->
<!--                <div class="col-lg-4">-->
<!--                    <input type="email" name="email" class="form-control" placeholder="some@some.com"-->
<!--                           th:value="${user}?${user.email}:''"/>-->
<!--                </div>-->
<!--                <div class="invalid-feedback">-->
<!--                    Введите существующий e-mail.-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group row justify-content-md-center">-->
<!--                <div class="col-lg-4">-->
<!--                    <input type="password" name="password" class="form-control" placeholder="Пароль"/>-->
<!--                </div>-->
<!--            </div>-->
            </div>
<!--            вставка из шаблона-->
<!--            ввод основных данных типа ФИО, почта-->
            <div th:insert="parts/user_account::user_account_open_data"></div>
<!--            ввод нового пароля-->
            <span id="empty_error_id"></span>
            <div id="password_div_id" th:insert="parts/user_account::new_password_input">

            </div>


            <div class="form-group row justify-content-md-center">
                <div class="col-lg-4 mt-2">
                    <button class="btn btn-primary btn-lg btn-block" disabled type="submit" id="submit_button_id">Зарегистрироваться</button>
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                <p> Уже есть аккаунт? <a href="/login">Войти</a></p>
            </div>
            </div>
        </div>
    </div>


</form>
<script type="text/javascript" th:src="@{/js/password_checker.js}"></script>
<script type="text/javascript">
    $(document).ready(check_passwords('password_div_id', undefined,
        'new_password_id', 'new_password2_id', 'empty_error_id', 'mismatched_pass_error_id',
        'submit_button_id', 'enable_btn_class', 'disable_btn_class'))
</script>
</body>
</html>
