<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body >
<header th:insert="parts/navbar :: navbar"></header>
<div class="container mt-5">
    <div class="form-bg-list">
        <div class="form-text2">

<div>
    <h4> Найти пользователей</h4>
    <form th:action="'/filter'" method="post">
        <div class="row mt-3">
        <div class="col-lg-5">
        Имя:  <input name="firstname" class="form-control mt-2">
        </div>
        <div class="col-lg-5">
        Фамилия: <input name="lastname" class="form-control mt-2">
        </div>
            <div class="col-sm-2 mt-4">
                <button class="btn btn-info" type="submit"> Найти</button></div>
        </div>
    </form>
</div>

    <table class="table mt-5">
        <thead class="thead-light"><tr> <th>Имя</th> <th>Роль</th> <th></th> </tr>  </thead>
        <tbody>

                 <tr th:each="user : ${users}">
                     <td th:text="${user.username}"></td>
                     <td th:text="${user.roles}"></td>
     <!--                <td th:each="role : ${user.roles}" th:text="${role}"></td> -->
                <td ><a th:href="'/user/' + ${user.id}">edit</a></td>
            </tr>

                 <!--    <table class="table table-striped">
                          <thead>
                          <tr>
                              <th scope="col">#</th>
                              <td  th:text="${user.username}"> </td>
                              <th scope="col"> th:text="${user.roles}"</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <th scope="row">1</th>
                              <td><a th:href="'/user/'"></a></td>
                              <td><a th:href="'${user.id}'"> edit</a></td>

                          </tr>
                   </tbody> -->
               </table>


        </div>
    </div>
</div>
           </body>
           </html>