<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование данных пользователей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body >
<header th:insert="parts/navbar :: navbar"></header>
<div class="container mt-5">
<form method="post" th:action="'/user'">
<input type="text" th:value="${user.username}" name="username">

    <select name="role">

        <option th:each=" role : ${roles}"
                th:value="${role}"
                th:utext="${role}"
                th:selected="${#lists.contains(user.roles, role)}"
                th:name="${role}"/>
    </select>


<!-- For a checkbox mode, if there is a multiple choice of roles-->
<!--    <div th:each="role : ${roles}" >-->

<!--        <label>-->
<!--            <span th:text="${role}"></span>-->
<!--            <input type="checkbox" th:checked="${#lists.contains(user.roles, role)}"  th:name="${role}">-->


<!--        </label>-->

<!--    </div>-->
    <div class="btn-group" role="group" >

        <div class="form-group col-mb-2">
             <input  class="form-control" type="hidden" th:value="${user.id}" name="userId">
            <input  class="form-control" type="hidden" name="_csrf" value="${_csrf.token}" />
             <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
</div>
</form>
</div>
</body>
</html>