<div th:fragment="navbar">

    <script type="text/javascript" th:src="@{/js/set_date.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <link th:href="@{/css/style.css}" rel="stylesheet"   >

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Кафедра философии</h5>
        <nav class="nav">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/news">Новости</a>
            <a class="p-2 text-dark" href="/action">Мероприятия</a>
        <div class="admin">
            <div  sec:authorize="isAuthenticated()" >
                <a class="p-2 text-dark" href="/account">Личный кабинет</a>
            </div>
        </div>


            <div sec:authorize ="isAnonymous()">
                <a class="p-2 text-dark" href="/login">  <button class="btn btn-primary" type="submit">Войти</button></a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a href="/logout"> <button class="btn btn-outline-primary" type="submit">Выйти</button></a>
            </div>


        </nav>

    </div>

</div>
