<div th:fragment="user_account_open_data">
    <span>Имя</span>
    <input type="text" th:value="${user}?${user.firstname}:''" name="firstname">

    <span>Фамилия</span>
    <input type="text" th:value="${user}?${user.lastname}:'' " name="lastname">

    <span>Отчество</span>
    <input type="text" th:value="${user}?${user.patronymic}:''" name="patronymic">

    <!--/* span error для ошибок типа пустая графа почта или уже существующая почта*/-->
    <span>email</span><span id="error" th:text="${error} ? ${error}:''"></span>
    <input type="text" th:value="${user}?${user.email}:''" name="email">
</div>


<div th:fragment="single_password_input">
    <span>Пароль</span>
    <!--    сделать кнопку-глазик для сокрытия пароля-->
    <input type="text" name="password">
</div>

<div th:fragment="new_password_input">

    <span>Ваш новый пароль</span>
    <!--    сделать кнопку-глазик для сокрытия пароля-->
    <input id="new_password_id" type="text" name="new_password">

    <span>Повторите новый пароль</span>
    <!--    сделать кнопку-глазик для сокрытия пароля-->
    <input id="new_password2_id" type="text" name="new_password2">
    <span id="mismatched_pass_error_id"></span>

</div>


<div id="password_div_id" th:fragment="password_inputs4account">


    <span id="error" th:text="${password_error} ? ${password_error}:''"></span>
<!--    для личного кабинета-->

        <span id="empty_error_id"></span>
        <span>Ваш старый пароль</span>
        <!--    сделать кнопку-глазик для сокрытия пароля-->
        <input id="old_password_id" type="text" name="password">
        <div th:insert="parts/user_account::new_password_input"></div>

</div>