<div th:fragment="user_account_open_data">
    <div class="container">
        <div class="row">
            <div class="text-input">
                <input type="text" class="input-field" th:value="${user}?${user.firstname}:''" name="firstname"> <span class="input-label"> Имя</span>
            </div>

            <div class="text-input">
                <input type="text"  class="input-field" th:value="${user}?${user.lastname}:'' " name="lastname"> <span class="input-label">Фамилия</span>
            </div>

            <div class="text-input">
                <input type="text" class="input-field" th:value="${user}?${user.patronymic}:''" name="patronymic">  <span class="input-label">Отчество</span>
            </div>

    <!--/* span error для ошибок типа пустая графа почта или уже существующая почта*/-->
            <div class="text-input">
                <input type="text" class="input-field" th:value="${user}?${user.email}:''" name="email">
                <span class="input-label" >E-mail </span><span id="error" th:text="${error} ? ${error}:''"></span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="single_password_input">
    <div class="text-input">
    <!--    сделать кнопку-глазик для сокрытия пароля-->
    <input type="text" class="input-field" name="password">  <span class="input-label">Пароль</span>
    </div>
</div>


<div th:fragment="new_password_input">
    <div class="container">
        <div class="row">
            <div class="text-input">
                <!--    сделать кнопку-глазик для сокрытия пароля-->
                <input  class="input-field" id="new_password_id" type="text" name="new_password"> <span class="input-label">Ваш новый пароль</span>
            </div>

            <div class="text-input">
                <!--    сделать кнопку-глазик для сокрытия пароля-->
                <input  class="input-field"  id="new_password2_id" type="text" name="new_password2"> <span class="input-label">Повторите новый пароль</span>
                <span id="mismatched_pass_error_id"></span>
            </div>
        </div>
    </div>
</div>


<div id="password_div_id" th:fragment="password_inputs4account">


    <span id="error" th:text="${password_error} ? ${password_error}:''"></span>
<!--    для личного кабинета-->
    <div class="text-input">
        <span id="empty_error_id"></span>
        <!--    сделать кнопку-глазик для сокрытия пароля-->
        <input class="input-field" id="old_password_id" type="text" name="password"> <span class="input-label">Ваш старый пароль</span>
    </div>
        <div th:insert="parts/user_account::new_password_input"></div>

</div>
